.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #474bff;
    animation: spinner-d3wgkg 1s infinite linear;
 }
 
 @keyframes spinner-d3wgkg {
    to {
       transform: rotate(1turn);
    }
 } 
 /* .spinner {
   border: 4px solid rgba(0, 0, 0, 0.1);
   border-left-color: #4b5563; Change color to match Tailwind's gray-700
   border-radius: 50%;
   width: 36px;
   height: 36px;
   animation: spin 1s linear infinite;
 } 
 
 @keyframes spin {
 to {
     transform: rotate(360deg);
   } 
 }  */
 